body {
	margin: 0;
	background: #000000;
	background: linear-gradient(45deg, #0d0030 0%, #000000 30%, #000000 100%);
	height: min-content;
	/* min-height: 100vh; */
}
#nav {
	width: 100vw;
	height: 11vh;
	background: rgba(245, 245, 255, 0.075);
	border-bottom: 0.1vw solid rgba(255, 255, 255, 0.164);
	backdrop-filter: blur(10px);
	border-bottom-left-radius: 1vh;
	border-bottom-right-radius: 1vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;

	#title {
		width: 50%;
		height: 4vh;
		line-height: 4vh;
		font-size: 4vh;
		margin: 2vh 25% 1vh 25%;
		text-align: center;
		color: #ffffff;
		font-family: arial;
		z-index: 51;
	}
	#links {
		width: 80%;
		margin-left: 10%;
		height: 4vh;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		z-index: 51;

		.link {
			position: relative;

			a {
				text-decoration: none;
				color: #ffffff;
				font-size: 2vh;
				font-family: arial;
				width: max-content;

				position: absolute;
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
	}
}
/* !important isn't best practice, but its easier to do it this way, in this case */
@media (max-width: 600px) {
	#links {
		width: 100% !important;
		margin-left: 0 !important;
		display: flex !important;
		align-items: center;
		justify-content: space-around;

		.link {
			width: min-content !important;

			a {
				font-size: 1.7vh !important;
				width: min-content !important;

				position: static !important;
			}
		}
	}
}
#home-content {
	margin-top: 11vh;
	width: 100%;
	height: min-content;
	min-height: 89vh;

	p {
		width: calc(40vw - 5vh);
		padding-top: 5vh;
		margin: 0 0 5vh 5vh;
		line-height: 4.5vh;
		font-size: 4vh;
		color: #ffffff;
		font-family: arial;

		b {
			background-size: 100% 100%;
			color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
		}
	}
	p::selection, em::selection, b::selection {
		background: #ffffff44;
	}
	img {
		position: fixed;
		top: 16vh;
		right: 5vh;
		width: calc(60vw - 7.5vh);
		max-height: 79vh;
		border-radius: 1vh;
	}
}
@media (max-width: 1300px) {
	#home-content {
		p {
			width: calc(100vw - 10vh);
			padding-top: 0;
	
			b {
				background-size: 100% 100%;
				color: transparent;
				background-clip: text;
				-webkit-background-clip: text;
			}
		}
		p::selection, em::selection, b::selection {
			background: #ffffff44;
		}
		img {
			position: static;
			margin: 5vh;
			width: calc(100vw - 10vh);
			max-height: 50vh;
		}
	}
}
#list {
	display: grid;
	grid-template-columns: 20% auto 20%;
	margin: 5vh 5vh 5vh 5vh;
	gap: 5vh;

	span::selection,
	ul::selection,
	li::selection,
	b::selection {
		background: #ffffff44 !important;
	}

	.img {
		width: 100%;
		border-radius: 1vh;
	}
	.text {
		width: 100%;
		color: #ffffff;
		font-family: arial;
		font-size: 3vh;
		line-height: 3.5vh;

		ul {
			margin: 0 0 3.5vh 0;
		}
		a {
			text-decoration: none;
			color: #ffffff;
		}
		.sonic {
			color: #3060ff;
			font-weight: 800;
		}
		.sonic b::selection {
			background: #3060ff5b !important;
		}
	}
	.rtext {
		position: relative;
		text-align: right;
		ul {
			direction: rtl;
		}
		.link {
			height: 3.5vh;
			direction: ltr;
			text-align: left;
			position: absolute;
			right: 1vh;
			bottom: 0;
		}
	}
}
.center-header {
	text-align: center;
	font-size: 4vh;
	font-family: arial;
	color: #ffffff;
	margin-top: 16vh;
}
.center-header::selection {
	background: #ffffff44;
}

.link-hover {
	position: relative;
	transition: .2s;
	z-index: 2;

	.underline {
		width: 110%;
		transform: translate(-4%, 0);
		height: 1px;
		background-color: #ffffff;
		position: absolute;
		bottom: 0;
		transition: .2s;
		z-index: -100;
	}
}
.link-hover:hover {
	color: #000000 !important;

	.underline {
		height: 100%;
	}
}
.no-sel {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
